body {
  font-family: Verdana, Roboto, "Droid Sans", "游ゴシック", YuGothic, "メイリオ", Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "MSPゴシック", sans-serif;
}

span {
  background: red;
  padding: 16px;
  margin-bottom: 16px;
}

h1 {
  text-align: center;
}

.contents {
  margin-top: 80px;
}

li {
  list-style: none;
  font-size: 30px;
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  padding-left: 70px;
}

ul {
  width: 220px;
}

p {
  padding-left: 70px;
}

.fighter {
  padding-bottom: 70px;
}

